.music {
  position: absolute;
  color: var(--primary-color);
  top: 25px;
  left: 80%;
  transform: translate(-50%);
  user-select: none;
  height: 40px;
  width: 40px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
