.selectMenu {
  width: 100%;
  border: 5px solid var(--primary-color);
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;

  &__colorPicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  &__typeSelector {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: var(--primary-color);
  }

  &__colorPickerTitle {
    font-size: 16px;
    color: var(--primary-color);
  }

  &__colorPickerInput {
    width: 75px;
    height: 50px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
  }

  &__typePicker {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__item {
    width: 85px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
  }
}
