.app {
  &__wrapper {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--background-color-layer);
  }

  &__sceneWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
