.app {
  &__wrapper {
    width: 1600px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-layer);

    @media (max-width: 1600px) {
      width: 1280px;
    }
    @media (max-width: 1366px) {
      width: 1024px;
    }
    @media (max-width: 1024px) {
      width: 100vw;
    }
  }

  &__sceneWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
